
body {
    margin: 2%;
    background-color: aliceblue;
    font-weight: 450;
}
#quote {
    background-color: lightgray;

}
h2 {
    padding: 1%;
    text-align: center;
    border: 1px solid black;
    border-radius: 2.5%;
    background-color: blue;
    font-family: 'Montserrat';
    font-size: 38px;
    color: white;
    
}
.form-control {
    border: solid 1px black;
}
h4, h3 {
    text-align: center;
    font-family: 'Montserrat';
    font-size: 24px;
    margin: 0%;
    background-color: gainsboro;
}
#middleHeading {
    padding-bottom: 19px;
}
#topCheckBoxes {
    border: 1px solid black;
    padding-top: 5px;
    text-align: center;
    padding-bottom: .5rem;
    margin: 0px;
}
.form-control-input, .form-control-label {
    border: 1px solid blue;
    text-align: center;
   
}
p {
    text-align: center;
    font-family: 'Montserrat';
    font-size: 16px;
    margin: 0%;
    background-color: gainsboro;
    
}
.form-check-input:checked {
    
    border:  black;
}

#textBox {
    vertical-align: middle;
}
thead {
    background-color: gainsboro;
    border:  black;
}
#topIdCheck, #topIdCheckTwo {
    border-left:  black;
    text-align: center;
}
.td{
    border:  black;
    text-align: center;
    padding-left: 20px;
}
.middle {
    border: 1px solid black;
}
#checkboxMiddle {
    text-align: justify;
    
    
    
}
#chk {
    margin-right: 2px;
}
ol {
    margin-bottom: 2px;
}
table {
    border-collapse: collapse;
    width: 33%;
}
@media screen and (max-width:768px) {
    body {
        min-width: 100%;
        background-color: lightskyblue;
        display: inline;
    }
}
#example {
    border: 1px solid black;
    background-color: white;
}
td {
    text-align: center;
}
.btn{
    margin-top: 10px;
}
#submit {
    margin-top: 10px;
}

#topDivs1 {
    width: 400px;
    
}

.order-3 {
   border: 1px solid black; 
}
.form-label {
    position: 50px;
}
textarea.resizable {
    resize: both;
    overflow: auto;
    width: 100%;
  }